@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family: 'Noto Sans KR','Roboto', sans-serif;
    color: #666666;
    font-size: 14px;
}

.header{
    width: 1744px;
    height: 125px;
    padding-left: 80px;
    display: flex;
    position: fixed;
    z-index: 11;
}
.header .nav{
    margin-top: 112px;
    display: flex;
}
.header .nav img{
    width: 126px;
    height: 35px;
    margin: -10px 0;
}
.header .nav ul{
    display: flex;
}
.header .nav ul li{
    color: #333333;
    font-size: 16px;
    margin-left: 54px;
}
.header .nav ul li a{
    padding: 30px 0;
}
.login-search{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin-top: 2px;
    margin-left: 475px;
}
.login{
    margin: 35px 0;
    font-size: 12px;
}
.login ul{
    display: flex;
}
.login ul li{
    position: relative;
    margin: 11px;
}
.login ul li:first-child{
    color: #FC454C;
}
.login ul li:nth-child(1) a::after,
.login ul li:nth-child(2) a::after{
    content: '';
    width: 1px;
    height: 13px;
    background-color: #666666;
    position: absolute;
    right: -10px;
    top: 4px;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 235px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
}
.search img{
    width: 30px;
    height: 30px;
}

/* main */
.main{
    display: flex;
    padding-top: 168px;
    padding-left: 80px;
}
.main .slider a img{
    width: 1150px;
    height: 810px;
}
.img-box .img{
    width: 580px;
    height: 263px;
    overflow: hidden;
    margin-bottom: 10px;
}
.img-box a img{
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
    z-index: 9;
    transform: translate(-0%, -27%);
}
.img-box a span{
    position: absolute;
    z-index: 10;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
}
.img-box a span:first-child{
    margin: 30px;
}

/* hot */
.hot-cube{
    width: 1280px;
    height: 811px;
    margin: 0 auto;
}
.hot-tit{
    margin: 90px 0 36px 0;
}
.hot-tit h1{
    font-size: 28px;
    color: #333;
    font-weight: 700;
}
.hot-tit p{
    font-size: 18px;
    color: #999;
    padding-top: 8px;
}
.hot-tit p a>span{
    font-size: 16px;
    color: #333;
    float: right;
}
.hot-shop-box{
    display: flex;
}
.hot-shop{
    margin-right: 16px;
}
.hot-shop:last-child{
    margin-right:0px
}
.hot-shop-img01{
    width: 416px;
    height: 528px;
}
.hot-shop-img-box{
    width: 416px;
    height: 340px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot-shop-img01 img{
    width: 272px;
    height: 272px;
}
.hot-shop-txt-box{
    width: 416px;
    height: 156px;
    margin-top: 20px;
}
.hot-shop-txt-box h2{
    font-size: 18px;
    color: #333;
    margin-bottom: 7px;
}
.hot-shop-txt-box del{
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #eee;
}
.hot-shop-txt-box span{
    font-size: 18px;
    font-weight: 500;
    color: #FC454C;
}
.hot-shop-txt-box h3{
    font-size: 18px;
    display: inline-block;
    margin-bottom: 13px;
}
.star-box{
    position:relative;
    display: flex;
}
.star{
    width: 75px;
    height: 15px;
    background: url(../img/ico_grade.png) no-repeat 0 -64px;
    background-size: 100%;
}
.hot-shop-txt-box ul{
    display: flex;
    font-size: 13px;
    padding-left: 5px;
    line-height: 12px;
}
.hot-shop-txt-box ul li:nth-of-type(2){
    padding-left: 9px;
}
.hot-shop-txt-box ul li:nth-of-type(1)::after{
    content: '';
    width: 1px;
    height: 12px;
    background-color: #666666;
    position: absolute;
    left: 102px;
    top: 1px;
}
.hot-shop-txt-box p{
    font-size: 15px;
    line-height: 1.6;
    color: #999999;
}